annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.2.25
charset-normalizer==3.4.5
click>=8.2.1
colorama==0.4.6
dnspython==2.7.0
email-validator==2.3.0
exceptiongroup==1.3.1
fastar==0.8.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
jinja2==3.1.6
kafka-python==2.3.0
matplotlib==3.9.4
markdown-it-py==3.0.0
markupsafe==3.0.3
mdurl==0.1.2
numpy==2.0.2
opensky-api @ git+https://github.com/openskynetwork/opensky-api.git@56e6cd6d69f4ce3800051a2ea8c728373171871b#subdirectory=python
pandas==2.3.3
psycopg2-binary==2.9.7
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-extra-types==2.11.0
pydantic-settings==2.11.0
pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
pytz==2026.1.post1
pyyaml==6.0.3
requests==2.32.5
rich==14.3.3
rich-toolkit==0.19.7
rignore==0.7.6
seaborn==0.13.2
sentry-sdk==2.54.0
shellingham==1.5.4
six==1.17.0
starlette==0.49.3
streamlit==1.50.0
tomli==2.4.0
typer==0.23.2
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
urllib3==2.6.3
watchfiles==1.1.1
websockets==15.0.1
